:root{
    --darkblue:#162447;
    --rey:#1F4068;
    --black:#1B1B2F;
    --pink:#E43F5A;


}

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: #ffffff;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


 #header{
     position: relative;
     width: 100%;

 }
 .menu{
     position: fixed;
     top:0;
     left:0;
     width:100% ;
     height: 60px;
     background: #ffffff;
     display:flex;
     justify-content: space-between;
     align-items: center;
     z-index: 9999;


 }
.menu .logo-box{

    margin-left: 60px;
  
 }

 .menu .logo-box h1 a{
     text-decoration:none ;
     font-size: 35px;
     font-weight: 400px;
     color: var(--black);
 }

.menu .list-container{

    margin-right: 20px;

}

.menu .list-container .lists{

    display: flex;

}

.menu .list-container .lists li{

    list-style: none;
}
.menu .list-container .lists li a{

    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0,3s;
}

.menu .list-container .lists li a.activo{

   background: var(--darkblue);
   color:#ffffff

}

.menu .list-container .lists li a:hover{

    background: var(--darkblue);
    color:#ffffff
 }

.btn-menu > .fa-bars{
    display: none;
}
.img-header{
    
    position:relative;
    width: 100%;
    height: 100vh;
    background: url(/img/img5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .Bienvenido{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0, 0, 6;
}
